<p id="notice"><%= notice %></p>

<p>
  <strong>Image uid:</strong>
  <%= @photo.image_uid %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @photo.image_name %>
</p>
<p>
	<%#= Dragonfly.app.remote_url_for(@photo.image_uid)%>
	<%#= image_tag @photo.image.url%>
	<%= image_tag @photo.image.thumb('100x100').url%>
	<%= image_tag @photo.image.thumb('200x200').url%>
	<%= image_tag @photo.image.thumb('400x400').url%>
	<%= image_tag @photo.image.thumb('600x200').url%>
	<%#= image_tag @photo.image.remote_url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
